.ukultokefi {}
@media (min-width:600px) {
  .ukultokefi {
    margin-bottom: 24px;
  }
}
.ukultokefi {}
@media (min-width:600px) {
  .ukultokefi {
    margin-bottom: 24px;
  }
}

  .ivozxaohiqdz {
    border: 1px solid #E5E5E5;
    display: flex;
    padding: 1rem 0;
    flex-wrap: wrap;
    border-radius: 4px;
  }
    .ivozxaohiqdz {
    border: 1px solid #E5E5E5;
    display: flex;
    padding: 1rem 0;
    flex-wrap: wrap;
    border-radius: 4px;
  }
@media (max-width:599.95px) {
  .ivozxaohiqdz {
    border-left: 0;
    border-right: 0;
    border-radius: 0;
  }
}

  .opzftqltwqu {
    width: 50%;
    padding: 0 1rem;
    position: relative;
    border-right: 1px solid #E5E5E5;
    padding-bottom: 2rem;
  }
  .opzftqltwqu:nth-child(2n) {
    border-right: none;
  }
@media (max-width:599.95px) {
  .opzftqltwqu {
    width: 100%;
    border-right: none;
  }
}
  .lauwcpsxqfygax {
    width: 50%;
    padding: 0 1rem;
    position: relative;
    border-right: 1px solid #E5E5E5;
  }
  .lauwcpsxqfygax:nth-child(2n) {
    border-right: none;
  }
@media (max-width:599.95px) {
  .lauwcpsxqfygax {
    width: 100%;
    border-right: none;
  }
  .lauwcpsxqfygax:last-child {
    display: none;
  }
}
  .eergligkaz {
    height: 2.4375rem;
    display: flex;
    background-color: #FFFFFF;
  }
  .yakectuwtwi {
    margin-right: 1rem;
  }
  .awflcrvyuswvai {
    display: flex;
    flex-direction: column;
  }
  .yzykiwigyd {
    color: #1456A3;;
    font-size: 14px;
    margin-top: -5px;
    font-family:  Montserrat;
    font-weight: 600;
  }
  .iextrupwezkp {
    color: #000F4B;
    font-size: 14px;
    margin-top: -9px;
    line-height: 17px;
  }
  .hzhvvklfurqvj {
    width: calc(100% - 2rem);
    bottom: 1rem;
    height:  1px;
    position: absolute;
    background-color: #E5E5E5;
  }
  .gtswcruthphy {
    fill: #00AEEF;
    width: 14px;
    height: 14px;
  }

