/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * acumin-pro:
 *   - http://typekit.com/eulas/00000000000000003b9acafc
 *   - http://typekit.com/eulas/00000000000000003b9acafd
 *   - http://typekit.com/eulas/00000000000000003b9acaf7
 *   - http://typekit.com/eulas/00000000000000003b9acaf6
 * nimbus-sans-condensed:
 *   - http://typekit.com/eulas/00000000000000003b9b29b2
 *   - http://typekit.com/eulas/00000000000000003b9b29b5
 *
 * © 2009-2021 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_published":"2020-05-06 05:11:45 UTC"}*/

@import url("p.css");

@font-face {
font-family:"nimbus-sans-condensed";
src:url("../l") format("woff2"),url("../d_1") format("woff"),url("../a") format("opentype");
font-display:auto;font-style:normal;font-weight:400;
}

@font-face {
font-family:"nimbus-sans-condensed";
src:url("../l_1") format("woff2"),url("../d") format("woff"),url("../a_1") format("opentype");
font-display:auto;font-style:normal;font-weight:700;
}

@font-face {
font-family:"acumin-pro";
src:url("../l_2") format("woff2"),url("../d_2") format("woff"),url("../a_2") format("opentype");
font-display:auto;font-style:normal;font-weight:700;
}

@font-face {
font-family:"acumin-pro";
src:url("../l_3") format("woff2"),url("../d_4") format("woff"),url("../a_3") format("opentype");
font-display:auto;font-style:italic;font-weight:700;
}

@font-face {
font-family:"acumin-pro";
src:url("../l_4") format("woff2"),url("../d_3") format("woff"),url("../a_5") format("opentype");
font-display:auto;font-style:italic;font-weight:400;
}

@font-face {
font-family:"acumin-pro";
src:url("../l_5") format("woff2"),url("../d_5") format("woff"),url("../a_4") format("opentype");
font-display:auto;font-style:normal;font-weight:400;
}

.tk-nimbus-sans-condensed { font-family: "nimbus-sans-condensed",sans-serif; }
.tk-acumin-pro { font-family: "acumin-pro",sans-serif; }
